<div class="px-[7%] mt-16">
  <div class="w-full flex flex-row justify-center pr-[20px]">
    <div class="mt-[40px]">
      <h1 class="w-2/4 text-black mb-[60px] cursor-default">{{ head }}</h1>
      <p class="ml-[30px] w-3/5 text-xs cursor-default">
        {{ sub }}
        <a class="text-xs underline" [href]="subHyperLink">here</a>
      </p>
    </div>
    <img class="h-[450px] bg-contain bg-black" [src]="primaryImage" />
  </div>
</div>
<div class="mt-12 px-2.5 flex flex-wrap gap-12 justify-center items-center">
  <div
    class="group grayscale hover:grayscale-0 transition-grayscale duration-300"
    *ngFor="let img of images"
  >
    <div (click)="openProject(img.projectId)">
      <img [src]="img.url" alt="Image" class="my-2" />
      <p
        class="child-element opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        {{ img.imageName }}
      </p>
    </div>
  </div>
</div>
