<div class="px-[7%] mt-16">
  <div class="w-full flex flex-row justify-center pr-[20px]">
    <div class="mt-[40px]">
      <h1 class="w-2/4 text-black mb-[60px] cursor-default">{{ head }}</h1>
      <p class="ml-[30px] w-3/5 text-xs cursor-default">
        {{ sub }}
        <a class="text-xs underline" [href]="subHyperLink">here</a>
      </p>
    </div>
    <img class="h-[450px] bg-contain bg-black" [src]="primaryImage" />
  </div>
</div>
<div class="mt-12 flex flex-wrap gap-16 justify-center items-center">
  <div *ngFor="let img of images">
    <img [src]="img.url" alt="Image" class="my-12" />
    <p>{{ img.imageName }}</p>
  </div>
</div>
