<h1 class="flex flex-row font-barlow justify-center my-8 text-xl">Contact</h1>
<img class="px-[7%] mb-4" src="../../../assets/about.png" />
<div class="mt-16">
  <div class="px-[7%] flex flex-col">
    <h1 class="font-medium text-[20px]">Office:</h1>
    <h1 class="font-semibold text-[16px] w-[450px]">
      Lambs and Lions GmbH & Co. KGPotsdamer Str. 91, 10785 BerlinT +49 30 966
      094 86
    </h1>
  </div>
</div>
<div class="mt-16">
  <div class="px-[7%] flex flex-col">
    <h1 class="font-medium text-[20px]">Enquiries:</h1>
    <p class="font-semibold text-[16px] w-[450px]">
      General : infoHumanscape.com
    </p>
    <p class="font-semibold text-[16px] w-[450px]">
      Press : pressHumanscape.com
    </p>
    <p class="font-semibold text-[16px] w-[450px]">
      Job applications : jobsHumanscape.com
    </p>
  </div>
</div>
<div class="mt-16">
  <div class="px-[7%] flex flex-col">
    <h1 class="font-medium text-[20px]">Follow us on:</h1>
    <h1 class="font-semibold text-[16px] w-[450px]">Instagram</h1>
    <h1 class="font-semibold text-[16px] w-[450px]">Behance</h1>
  </div>
</div>
